/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f2e8; /* Light orange background represting IVY theme*/
    color: #333;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: #333; 
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}

button {
    padding: 12px 24px;
    background-color: #ff7f00; /* Orange button color representing IVY theme*/
    color: #fff; 
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e66c00; /* Darker orange on hover */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li.completed {
    text-decoration: line-through;
    color: #777; 
}

.actions {
    display: flex;
}

.actions a {
    color: #333; 
    text-decoration: none;
    margin-left: 10px;
    font-size: 14px;
}

.actions a:hover {
    text-decoration: underline;
    color: #000; 
}
